sentence-transformers==2.2.2
langchain
langchain-openai
langchain-together
flask==2.3.3
pypdf==3.17.1
python-dotenv==1.0.0
langchain-pinecone
langchain_community
langchain_experimental
gunicorn==21.2.0
google-generativeai